TZ=Europe/Moscow
PUID=0
PGID=0

MEDIA_ROOT=/data/media
TORRENTS_ROOT=/data/torrents
CACHE_ROOT=/jf_cache

DB_PASSWORD=ChangeThisSecretDatabasePassword
JWT_SECRET=SuperRandomSecretTokenForJellystatAuth2026
